<!DOCTYPE html>
<html>
<head>

  <title><%= level.name %></title>
  <link rel="stylesheet" type="text/css" href="/frontera.css">

</head>
<body>
<div class="titulo">
  <h1>Felicidades! Llegaste a la <%= level.name %>, <%= user.firstname %>. <br>Veamos si tus capacidades culinarias argentas te ayudan a cruzar</h1>
</div>
  <img src="<%= question.link_imagen %>" border="1" width="300" height="200">
  
  <main>
    <div class="question-container">
      <h2><%= question.text %></h2>
      <form action="/question" method="POST">
        <input type="hidden" name="question_id" value="<%= question.id %>">
        <% answers.each do |answer| %>
          <input type="radio" name="option_id" value="<%= answer.id %>" id="option<%= answer.id %>">
          <label for="option<%= answer.id %>"><%= answer.text %></label>
        <% end %>
        <br>
        <input type="submit" value="Responder">
      </form>
    </div>
  </main>


  <p class="puntos-izq">Puntos: <%= user.points.to_json%></p>
  <p class="nombre-der">user: <%= user.name%></p>

  <a href="http://localhost:4567/menu"><input type="submit" name="menu" value="Volver al menú"></a>
</body>
</html>