<!DOCTYPE html>
<html>
<head>
  <style>
    
    img {
      max-width: 400px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }

    body {
      background-color: #3b3f3c86;
      text-align: center;
      padding: 10px;
    }

    img {
      max-width: 400px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }

    h1, h2, h3 {
      font-family: 'Helvetica Neue', sans-serif;
    }

    p, label, input[type="submit"] {
      font-family: 'Arial', sans-serif;
    }

    input[type="submit"] {
      background-color: #4CAF50;
      border: none;
      color: white;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }

    .result-message {
      font-size: 30px;
      font-weight: bold;
      margin-top: 50px;
    }

    .puntos-izq {
      color: black;
      position: absolute;
      bottom: 0;
      right: 1;
    }
    .nombre-der {   
      color: black;
      position: absolute;
      bottom: 0;
      right: 0;
    }

  </style>

</head>
<body>
  <h1>A ver qué tanto sabes sobre gastronomía Argentina, <%= @@user.firstname%></h1>
  
  <img src="<%= @@question.link_imagen %>" border="1" width="300" height="200">
  
  <main>
      <h2><%= @@question.text %></h2>
      <form action="/question" method="POST">
        <input type="hidden" name="question_id" value="<%= @@question.id %>">
        <% @answers.each do |answer| %>
          <label>
            <input type="radio" name="option_id" value="<%= answer.id %>">
            <%= answer.text %><br>
          </label><br>
        <% end %>
        <br><input type="submit" value="Responder">
      </form>
    </main>

  <br>

    <p class="puntos-izq"> Puntos: <%= @@user.points.to_json%></p>
    <p class="nombre-der">user: <%= @@user.name%></p>
  
  <a href="http://localhost:4567/menu"><input type="submit" name = "menu" value="Volver al menu">
  </div>
</body>
</html>
