<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/question.css">
  <style>
    #timer {
      color: green;
      font-size: 24px;
    }
  </style>
</head>
<body>
  <h1>Nivel <%= level.id %>: Cocinemos <%= level.name %>, <%= user.firstname %>!</h1>
  
  <img src="<%= question.link_imagen %>" border="1" width="300" height="200">
  
  <main>
    <div class="question-container">
      <h2><%= question.text %></h2>
      <form action="/question" method="POST">
        <input type="hidden" name="question_id" value="<%= question.id %>">
        <% answers.each do |answer| %>
          <input type="radio" name="option_id" value="<%= answer.id %>" id="option<%= answer.id %>">
          <label for="option<%= answer.id %>"><%= answer.text %></label>
        <% end %>
        <br>
        <input type="submit" value="Responder">
        <input type="hidden" name="timeout" value="false">
      </form>
       <p id="timer"><span id="countdown"></span></p>
    </div>
  </main>

  <script>
  var countdown = 5; // Aquí define la cantidad de segundos para el tiempo límite
  var timerElement = document.getElementById("timer");

  function updateTimer() {
    timerElement.textContent = countdown;
    countdown--;

    if (countdown < 0) {
      setTimeout(function(){
       document.querySelector('form input[name="timeout"]').value = 'true'; 
       document.querySelector('form').submit();
      },1000);
    } else {
      setTimeout(updateTimer, 1000); // Llama a la función "updateTimer" 
    }
  }

  // Inicia la cuenta regresiva al cargar la pregunta
  window.onload = function() {
    updateTimer();
  }
</script>


  <p class="puntos-izq">Puntos: <%= user.points.to_json%></p>
  <p class="nombre-der">user: <%= user.name%></p>

  <a href="http://localhost:4567/menu"><input type="submit" name="menu" value="Volver al menú"></a>
</body>
</html>